* {
    margin: 0;
    padding: 0;
}

body {
    margin: 5px;
    /* font-family: 'Dancing Script', cursive; */
    /* background-color: #02010a; */
    background: url(../img/double-bubble-dark.png);
    
}

#contenido {
    margin: auto;
    max-width: 900px;
}
header{
    height: 67px;
}
header #contenidoCabecera{
    background-color: #5b7989;
    color: white;
    border-radius: 10px 10px 0px 0px;
    width: 900px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    animation: animarCabecera 1s;
    transition: all;    
}

#contenidoCabecera h1 {
    padding: 15px;
    text-shadow: 2px 2px 2px #02010a;
}

#contenidoCabecera nav a {
    color: white;
    padding: 15px;
}

#imagenCentral {
    background-color: #82c3a6;
    
}

#imagenCentral picture {
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

img {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

#imagenSecundaria {
    background-color: #d5c75f;
    display: flex;
    justify-content: space-around;
}

#imagenSecundaria figure {
    margin: 15px 0;
    width: 45%;
    height: 270px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#imagenSecundaria figure img {
    max-width: 384px;
    width: 100%;
    transition: all 1s;
}

#imagenSecundaria figure figcaption {
    margin-top: 5px;
}

#imagenSecundaria figure:nth-child(1) img:hover {
    transform: rotate(10deg);
    box-shadow: 2px 2px 6px #82c3a6;
    border: 2px solid black
}

#imagenSecundaria figure:nth-child(2) img:hover {
    transform: translate3d(20px, -5px, 0);
    box-shadow: 2px 2px 6px #82c3a6;
    border: 2px solid black
}

footer {
    height: 150px;
    background-color: #C6d5c5;
    border-radius: 0 0 10px 10px;
}

@keyframes animarCabecera {
    0% {
        margin-top: 150%;
        position: absolute;
    }

    60% {
        margin-top: -5%;
        position: absolute;
    }

    100% {
        margin: 0%;
        position: absolute;
    }
}

@media screen and (max-width:900px) {
    header{
        height: 85px;
    }
    header #contenidoCabecera{
        animation: animarCabecera;
    }

    header #contenidoCabecera{
        flex-direction: column;
        height: 85px;
        width: 100%;
        animation: animarCabecera 1s;
    }
    header #contenidoCabecera h1 {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 1.5em;
    }
    #contenidoCabecera nav {
        height: 50%;
    }
    
    #imagenSecundaria {
        flex-direction: column;
        align-items: center;
    }

    #imagenSecundaria figure {
        width: 95%;
        height: 50%;
    }

    #imagenSecundaria figure img {
        max-width: 95%;
    }
}